body{
	margin: 0px;
	font-family: 'Exo 2', sans-serif;
	background: url("earth.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	  background-position: center;
}


.tg  {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
	width: 100%;
	/*min-width: 600px;*/
	margin-bottom: 50px;


}
.tg td{
	border-style:solid;
	border-width:3px;
	overflow:hidden;
	word-break:normal;
	text-align: center;
	border-color: rgb(184, 184, 184);
}
.tg th{
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:3px;
	border-color: #000000;
	overflow:hidden;
	word-break:normal;
    background: rgb(58, 58, 58);
    color:white;
}
.bottom_table{
	margin-top: 49px;
	margin-bottom: 66px;
}
.vertical{
/*	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);*/
}

input {
	width: 100%;
	text-align: center;
	border: none;
	/*padding: 10px 0px;
	font-size: 8px;*/
	height: 100%;
	font-family: 'Exo 2', sans-serif;
	background: none;
	color: #4BBBFF;
	-webkit-text-stroke-width: .4px;
	-webkit-text-stroke-color: black;
}
input:focus{
	outline: 0;
	background-color: rgba(255, 255, 255, 0.64);
}
input[disabled]:hover {
    background: rgba(255, 255, 255, 0.25);
}
input:hover {
	background-color: rgba(255, 255, 255, 0.64);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

footer button{
	width:100%;
	height: 100%;
	padding: 0px;
	background: none;
	border: none;
	background: red;
}

footer .tg th{
  padding: 5px 0;
}

.blank{
	border: none !important;
}

.eon{
	width: 15%;
}
.era{
	width: 20%;
}
.period{
	width: 35%;
}
/*.eraR {
	background: none;
	color: #DADADA;
}
.eonR {
	background: none;
	color: #DADADA;
}
.periodR {
	background: none;
	color: #DADADA;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.epochR {
	background: none;
	color: #DADADA;
}
.ageR {
	background: none;
	color: #DADADA;
}*/
.epoch{
	width: 15%;
}
.age{
	width: 10%;
}

.vertical_align{
	vertical-align: middle;
}
.bottom_align{
	padding: 0px;
	margin-top: 8px;
}
.fixed{
	position: fixed;
	top: 0px;
	height: 50px;
	z-index: 1000;
}
.fixed_bottom{
	position: fixed;
	bottom: 0px;
	height: 50px;
	z-index: 1000;
	width: 100%;
	margin: 0;
}
.50{
	width: 50%;
}

#age_label{
	font-size: 10px;
	margin-top: 17px;
	position: absolute;
	color: #4BBBFF;
	-webkit-text-stroke-width: .4px;
	-webkit-text-stroke-color: black;
}

.ageR{
	width: 50%;
}

.border_red{
/*	border: red;
	border-style: solid;
	border-width: 3px;*/
	background: rgba(184, 14, 14, 0.39);
}
.border_green{
/*	border: green;
	border-style: solid;
	border-width: 3px;*/
	background: rgba(81, 205, 81, 0.35);
}

.green{
	color: rgb(0, 102, 0);
	background: rgb(151, 210, 151);
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
}

.red {
	color: rgb(184, 14, 14);
	background: rgb(236, 133, 133);
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
}
.black {
	color: #272727;
	background: rgb(152, 152, 152);
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
}
.fa{
	width: 30px;
}

#progress_bar{
	width: 100%;
	background: rgb(129, 192, 86);
	height: 20px;
	display: block;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;

}
@media screen and (min-width: 1400px) {
	input{
		padding: 10px 0px;
		font-size: 24px;
	}
	.tg td{
		font-size:6px;
	}
	.tg th{
		font-size:30px;
	}
	#age_label{
		font-size: 19px;
	}
	.ageR{
		margin-left: -31px;
		margin-right: 7px;
	}
}

@media screen and (max-width: 1400px) {
	input{
		padding: 10px 0px;
		font-size: 24px;
	}
	.tg td{
		font-size:6px;
	}
	.tg th{
		font-size:30px;
	}
	#age_label{
		font-size: 19px;
	}
	.ageR{
		margin-left: -31px;
		margin-right: 7px;
	}
}

@media screen and (max-width: 1200px) {
	input{
		padding: 10px 0px;
		font-size: 24px;
	}
	.tg td{
		font-size:6px;
	}
	.tg th{
		font-size:30px;
	}
	#age_label{
		font-size: 19px;
	}
	.ageR{
		margin-left: -31px;
		margin-right: 7px;
	}
}

@media screen and (max-width: 1048px) {
	input{
		padding: 10px 0px;
		font-size: 20px;
	}
	.tg td{
		font-size:6px;
	}
	.tg th{
		font-size:28px;
	}
	#age_label{
		font-size: 16px;
	}
}

@media screen and (max-width: 900px) {
	input{
		padding: 10px 0px;
		font-size: 16px;
	}
	.tg td{
		font-size:6px;
	}
	.tg th{
		font-size:24px;
	}
	#age_label{
		font-size: 13px;
		margin-top: 13px;
	}
	.ageR{
		margin-left: -20px;
	}
}

@media screen and (max-width: 768px) {
	input{
		padding: 10px 0px;
		font-size: 16px;;
	}
	.tg td{
		font-size:6px;
	}
	.tg th{
		font-size:20px;
	}
	#age_label{
		margin-top: 16px;
	}
	.ageR{
		margin-left: -18px;
		margin-right: 3px;
	}
}

@media screen and (max-width: 600px) {
	input{
		padding: 10px 0px;
		font-size: 11px;
	}
	.tg td{
		font-size:6px;
		border-width: 1px;
	}
	.tg th{
		font-size:18px;
	}
	#age_label{
		font-size: 11px;
		margin-top: 16px;
	}
   	.fa{
		width: 18px;
	}
}
@media screen and (max-width: 400px) {
	input{
		padding: 10px 0px;
		font-size: 8px;
		-webkit-text-stroke-width: .1px;
	}
	.tg td{
		font-size:6px;
	}
	.tg th{
		font-size:18px;
	}
	#age_label{
		font-size: 8px;
		margin-top: 13px;
		-webkit-text-stroke-width: .1px;

	}
	.fa{
		width: 15px;
		height: 15px;
		font-size: 13pt!important;
	}
	.ageR{
		margin-left: -13px;
		margin-right: 3px;
	}
}

@media screen and (max-width: 300px) {
	.bottom_table{
		margin-bottom:116px;
	}
}

.fake-btn {
	cursor: pointer;
	border-radius: 3px;
	padding: 2px;
	width: 50px;
	background: #FFF;
	margin-left: 5px;
}
