body{
	margin: 0px;
}
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
	width: 100%;
}
.tg tbody{
	width: 400px;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:6px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align: center;
}
.tg th{
	font-family:Arial, sans-serif;
	font-size:18px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	background: rgb(136, 167, 184);
}
.vertical{
	color: red;
  	  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

input {
	width: 100%;
	text-align: center;
	border: none;
	padding: 10px 0px;
	font-size: 8px;
	height: 100%;
}

.blank{
	border: none !important;
}

.eon{
	width: 15%;
}
.era{
	width: 20%;
}
.period{
	width: 35%;
}
.epoch{
	width: 20%;
}
.age{
	width: 10%;
}

.vertical_align{
	vertical-align: middle;
}